.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px 1fr;
  height: 100%;
  width: 100%;
}

.page {
  grid-row: 2;
  grid-column: span 12;
}

.app nav {
  grid-row: 1;
  grid-column: span 12;
  background-color: black;
}

.app nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.title {
  justify-self: flex-start;
}

.title a {
  font-size: 2em;
}

.app nav ul li {
  margin: 0 10px;
  height: 60px;
}

.app nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 60px;
}

#searchContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

